.mappingNavPanel.panel
  li.g-global-nav-li(data-toggle="collapse", data-target='#mappingSAIPArch', data-parent="#mappingNav")
    a.g-nav-link.qc-SAIP(g-name='qcSAIPProject', g-target='qcSAIPProject') 
      i.icon-download-cloud
      span SAIP
  #mappingSAIPArch.mappingArch.collapse

if SSR_Project.id
  .mappingNavPanel.panel
    li.g-global-nav-li(data-toggle="collapse", data-target='#mappingCollectionArch', data-parent="#mappingNav")
      a.g-nav-link.qc-Collection(g-id=SSR_Project.id, g-name='qcSSRProject', g-target='qcSSRProject') 
        i.icon-file-archive
        span #{SSR_Project.get('name')}
    #mappingCollectionArch.mappingArch.collapse

if user.id
  .mappingNavPanel.panel
    li.g-global-nav-li(data-toggle="collapse", data-target='#mappingUSERArch', data-parent="#mappingNav")
      a.g-nav-link.qc-User(g-id=user.id, g-name='qcUsers', g-target='qcUsers') 
        i.icon-edit
        span #{user.name()}
    #mappingUSERArch.mappingArch.collapse
