#selection
  margin-top 20px

#submitTask
  padding 11px 22px 11px 17px
  
#cancelTask
  padding 11px 22px 11px 17px

#savingTaskResult
  padding 11px 22px 11px 17px
// #task-upload-here-button
//   padding 11px 22px 11px 17px

.patientsFolder
  width 80%
  
.job-name-zone
  width 100%
  padding 11px 22px 11px 17px
  margin-bottom 10px
  border 1px solid #595
  border-radius 6px
  display inline-block

.options-zone
  width 100%
  padding 15px 0
  margin-bottom 10px
  border 1px solid #595
  border-radius 6px
  display inline-block
  font-size 11px
  
.g-drop-zone
  background-color #8ec0ea