#selection
  margin-top 20px

#submitTask
  padding 11px 22px 11px 17px
  
#cancelTask
  padding 11px 22px 11px 17px

#savingTaskResult
  padding 11px 22px 11px 17px
// #task-upload-here-button
//   padding 11px 22px 11px 17px

.patientsFolder
  width 80%