.patientBox:hover input ~ .checkmark
  background-color #ccc

.patientBox
  position relative
  padding-left 65px
  cursor pointer
  font-size 22px
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

  input
    position absolute
    opacity 0
    cursor pointer
    height 0
    width 0

  input:checked ~ .checkmark
    background-color #2196F3

/* Hide the browser's default checkbox */
// .patientBox input
//   position absolute
//   opacity 0
//   cursor pointer
//   height 0
//   width 0

/* Create a custom checkbox */
.checkmark
  position absolute
  top 0
  left 0
  height 50px
  width 50px
  background-color #eee


/* On mouse-over, add a grey background color */ 
// .patientBox:hover input ~ .checkmark
//   background-color #ccc


// /* When the checkbox is checked, add a blue background */
// .patientBox input:checked ~ .checkmark
//   background-color #2196F3

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
  content ""
  position absolute
  display none

.nOfSplit
  vertical-align middle

#optionPool
  .patternOption
    img
      width 50px
      height 50px
      border 1px dashed
  .table
    width initial
    tbody
      tr
        td
          padding 0
#paramPool
  max-height 80vh
  overflow auto
  .table
    thead
      tr
        th
          text-align center
    tbody
      tr
        td
          text-align center
          vertical-align middle
  .overviewHead
    width 50px
  .nameHead
    width 150px
  .patternHead
    width 100px
  .thumb
    width 50px
  .name
    word-break break-all
    width 150px
  .pattern-drop-zone
    width 100px
    border 2px dashed
    vertical-align middle
    img
      width 50px
      height 50px
      border 1px dashed
.patternOption
  border 1px solid
  border-radius 3px
  text-align center
.dicomsplit-preview
  padding 0 25px
.patientNameLabel
  background-color #f4f4f4
.modalityLabel
  background-color #e0e0e0
.experimentLabel
  background-color #e0e0e0