.modal-dialog
  .modal-content
    form#batch-halo-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title= title
      .modal-body
        #h-task-halo-container.hidden
        .row
          #halo-WSIs-select.h-task-halo-select.button.btn.btn-default.col-md-12(type='button')
            | #[span.icon-folder] Select a WSIs Folder
        .row
          ul#halo-preview.preparehaloZone.g-item-list(style='padding: 0px;')
        .row
          ul.nav.navbar-nav
            li
              a#HaloLogin.loginNav.active(style="padding: 10px 10px;", url="SSR_task/halo_anno") Halo
        .row
          .loginForm
            // label(for='h-halo-name') Parameters
            input#h-db-username.input-sm.form-control(
              type='text', placeholder='username')
            input#h-db-password.input-sm.form-control(
              type='password', placeholder='password')
        .g-validation-failed-message
      .modal-footer
        button.btn.btn-small.btn-primary.query-batch-halo(type='button') Query