.modal-dialog
  .modal-content
    form#batch-aperio-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title= title
      .modal-body
        #h-task-aperio-container.hidden
        .row
          #aperio-WSIs-select.h-task-aperio-select.button.btn.btn-default.col-md-12(type='button')
            | #[span.icon-folder] Select a WSIs Folder
        .row
          ul#aperio-preview.prepareaperioZone.g-item-list(style='padding: 0px;')
        .row
          .form-group
            label(for='h-aperio-name') Parameters
            input#h-aperio-username.input-sm.form-control(
              type='text', placeholder='username')
            input#h-aperio-password.input-sm.form-control(
              type='password', placeholder='password')
          .g-validation-failed-message
      .modal-footer
        button.btn.btn-small.btn-primary.query-batch-aperio(type='button') Query