label(style='font-size:23px; color:#dc0000;') The folder you are trying to open is not following the required hierarchy.

h2#instruction Instruction 
p 1. Create a root folder on the local disk
p 2. Download experiments from the SAIP Image Portal to the new root folder
p 3. Upload the new root folder to SSR for DICOM Split

img(style='width:100%;', src='static/built/assets/DICOM_split_folder_hierarchy.png')
