#selection
  .row
    .col-md-5
      .col-md-5
        .hierarchyLabel
          label Option
        select.hierarchy.options-zone
          if hierarchy === 'root'
            option(value='root', selected=true) A group of experiments
            option(value='experiments') Experiments
          else if hierarchy === 'experiments'
            option(value='root') A group of experiments
            option(value='experiments', selected=true) Experiments
      .col-md-7
        .inputLabel
          label Input
        if hierarchy === 'root'
          #open-root-folder.g-drop-zone.patientsFolder
            i.icon-folder-open Drop & drop
        else if hierarchy === 'experiments'
          #open-experiment-folders.g-drop-zone.patientsFolder
            i.icon-folder-open Drop & drop
    .col-md-5
      .col-md-7
        .outputLabel
          label Output
        i#select-split-folder.g-drop-zone.splitResult
          i.icon-folder-open Drop & drop
      .col-md-5
        .jobNameLabel
          label Split Job Name
          input#splitJobName.job-name-zone
    .col-md-2
      .submitLabel
        label Start
      button#submitTask.btn.btn-primary Submit
      button#savingTaskResult.btn.btn-warning(style='display:none') 
        i.icon-upload
        span Saving
      button#cancelTask.btn.btn-warning(style='display:none')
        i.icon-spin1.animate-spin
        span Running
#dicomsplit-preview.dicomsplit-preview
