#selection
  .row
    .col-md-5
      #open-task-folder.g-drop-zone.patientsFolder
        i.icon-folder-open Drop a folder with volume(s) to here
    .col-md-5
      i#select-split-folder.g-drop-zone.splitResult
        i.icon-folder-open Drop a folder of split result to here
    .col-md-2
      button#submitTask.btn.btn-primary Submit
      button#savingTaskResult.btn.btn-warning(style='display:none') 
        i.icon-upload
        span Saving
      button#cancelTask.btn.btn-warning(style='display:none')
        i.icon-spin1.animate-spin
        span Running
#dicomsplit-preview.dicomsplit-preview
