if axis === '1'
  each mouse in order
    if mouse === '1'
      img(src='https://findicons.com/files/icons/2484/hathix_cartoon_animals/300/mouse.png')
    else
      img(src='https://www.iconfinder.com/icons/49854/download/png/256')
if axis === '0'
  each mouse in order
    if mouse === '1'
      img(src='https://findicons.com/files/icons/2484/hathix_cartoon_animals/300/mouse.png', style='transform: rotate(-90deg)')
    else
      img(src='https://www.iconfinder.com/icons/49854/download/png/256')
