.modal-dialog
  .modal-content
    form#batch-infer-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title= title
      .modal-body
        .form-check.form-check-inline
          input#cd4_infer(type="radio", name="inferOption", value='cd4')
          label(for="cd4_infer") CD4+
          input#rnascope_infer(type="radio", name="inferOption", value='rnascope')
          label(for="rnascope_infer") RNAScope
          #infer-WSIs-select.h-task-infer-select.button.btn.btn-default.form-check-inline(type='button')
            | #[span.icon-folder] Select a WSIs Folder
        #h-task-infer-container.hidden
        .row
          input#aperio-image-id.form-control
        .row
          ul#infer-preview.preparehaloZone.g-item-list(style='padding: 0px;')
        .row
          ul.nav.navbar-nav
            li
              a#AperioLogin.loginNav.active(style="padding: 10px 10px;", url="SSR_task/aperio_anno") Aperio
        .row
          .loginForm
            // label(for='h-infer-name') Parameters
            input#h-db-username.input-sm.form-control(
              type='text', placeholder='username')
            input#h-db-password.input-sm.form-control(
              type='password', placeholder='password')
        .g-validation-failed-message
      .modal-footer
        button.btn.btn-small.btn-primary.run-batch-infer(type='button') Run
