.rnascopeParamsHeader, .rnascopeParams
    padding 0.5px
    width 10%

.cd4plus-header, .wsi-list
    padding 0
    
.layerHeader, .layerSelection
    width 20%
    
.wsiThumbnailHeader, .wsiThumbnail
    width 25%

.optSelection
    width 5%
    padding 0
    
#workflowName
    padding 6px 12px
    font-size 14px
    margin 0 3px 0 0
    border-radius 4px