li.cd4plus-header.col-md-12(style='list-style: none;text-align: center')
  .col-md-3.wsiThumbnailHeader
    label WSI
  .col-md-2.layerHeader
    label Inclusion layer
  .col-md-2.layerHeader
    label Exclusion layer
  //- .col-md-3
  //-   Label Exclude layer
  .col-md-1.rnascopeParamsHeader
    label Round.
  .col-md-1.rnascopeParamsHeader
    label Infect.
  .col-md-1.rnascopeParamsHeader
    label Virion.
