li.cd4plus-header.col-md-12(style='list-style: none;text-align: center')
  .col-md-3
    Label WSI
  .col-md-3
    Label Include layer
  //- .col-md-3
  //-   Label Exclude layer
  .col-md-2
    Label Round.
  .col-md-2
    Label Infect.
  .col-md-2
    Label Virion.