.g-folder-link
  display inline-block
  padding 1px 5px
  margin-left 10px
  float right
  color gray
  font-size 13px

.g-link-count
  display inline-block
  border-radius 3px
  color #000
  background-color rgba(255, 255, 255, 0.75)
  position relative
  font-size 9px
  bottom -2px
  right 6px

.appsArch
  .g-folder-list, .g-item-list
    overflow auto
    max-height 200px