.g-analysis-nav-container
  width 20vw
  height calc(100vh - 52px)
  display inline-block
  transition 1s
  position absolute
  left 0
  margin-left 0
  
  .active
    background-color #dcdcdc
.task-container
  width 80vw
  float right
  height calc(100vh - 52px)
  transition 1s