.g-analysis-nav-container
  width 40vw
  height calc(100vh - 52px)
  display inline-block
  transition 1s
  position absolute
  left 0
  margin-left 0
  
  .active
    background-color #dcdcdc

  #taskNav, #mappingNav
    height calc(50% - 26px)
    .panel
      margin-bottom 0
      background-color transparent
      border none
      border-radius 0
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
      list-style none
    .panel:hover
      background-color #f6f6f6
      transition all 0.2s
.task-container
  width 60vw
  float right
  height calc(100vh - 52px)
  transition 1s

.mappingArch
  margin-left 30px
  margin-right 10px
  overflow auto
  max-height 250px
  min-height 250px