// .workflowName,.overlayName
//   width 50%
//   display inline-block
// #workflowsResultSelection  
//   margin 10px 0

// .versionOptions
//   width 50%

.version-group-name
  font-weight bold
  text-align left
  padding 2px
  border-style none
  border-width 0
  white-space nowrap
  overflow hidden
  i
    color #6b6b6b
  
.version-group-name:hover
  background-color #eee
  cursor pointer

.version-element
  padding 2px
  line-height 1.1
  font-weight initial
  margin-left 5px
  border-radius 3px
  
.version-element:hover
  background-color #eee
  cursor pointer

.version-highlight
  background-color #eee

.version-highlight-element
  background-color #eee

.version-group
  .hints
    cursor help
    font-size 10px
    font-weight bold
    color dodgerblue
