if axis === '1'
  each mouse in order
    if mouse === '1'
      img(src='static/built/assets/mouse.png')
    else
      img(src='static/built/assets/no.png')
if axis === '0'
  each mouse in order
    if mouse === '1'
      img(src='static/built/assets/mouse.png', style='transform: rotate(-90deg)')
    else
      img(src='static/built/assets/no.png')
