li.cd4plus-header.col-md-12(style='list-style: none;text-align: center')
  .col-md-3.wsiThumbnailHeader
    label WSI
  .col-md-3.maskHeader
    label Masks
  .col-md-3.layerHeader
    label Inclusion layer
  .col-md-3.layerHeader
    label Exclusion layer
