.g-config-breadcrumb-container
p.g-SSR-task-settings-description
  | Configure to enable Tasks and remote worker temporary path.

form#g-SSR-task-settings-form(role="form")
  .form-group
    label.control-label(for="g-SSR-task-settings-TMP") Remote girder worker temporary path
    p.g-SSR-task-settings-description
    input#g-SSR-task-settings-TMP.input-sm.form-control(type="text", value=settings["SSR_task.GIRDER_WORKER_TMP"], title="TMP path in SSR-task.", placeholder="Do not change only if you know what you are doing (default /tmp/girder_worker also change in girder worker .cfg)")

    label.control-label(for="g-SSR-task-settings-TASKS") Available tasks
    p.g-SSR-task-settings-description

    .g-SSR-task-list-container
      each eabled, task in settings["SSR_task.TASKS"]
        .g-SSR-task-list
          input.g-SSR-task-switch(type="checkbox", task=task, checked=(eabled ? "checked" : undefined))
          .g-SSR-name
            span #{task}
          .g-SSR-description 
  p#g-histogram-settings-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
