mixin description(task)
  label #{task} Workflow
  if task==='DicomSplit'
    p Please download experiments (.ZIP files) from SAIP Image Portal for inputs.
    | For usage detail please download the 
    a(href='static/built/docs/SAIP_DICOM_Split_documentation_20210105.docx', style='color:#337ab7') manual.
  if task==='Link'
    p Link Waring